.container{
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    color: black;
    font-size: 14pt;
}
.main_screen{
    background-color: wheat;
    color: black;
}
.button{
    background: #CD853F;
    color: #FFFAFA;
    border: none;
    font-size: 14pt;
}
.input{
    background-color: white;
    font-size: 14pt;
    color:black;
}
.errorPage{
    background-color: #8B0000;
    color: #FFE4C4;
    font-size: 50pt
}
.name{
    font-size: 36pt
}
